@page
@model ECommerceSite.Pages.ProductModel
@{
}
<div class="col-md-4 col-xs-6">
								
									<div class="product-img">
										<img src="./img/product01.png" alt="">
										<div class="product-label">
										</div>
									</div>
									<div class="product-body">
										<p class="product-category">@Model.CategoryName</p>
										<h3 class="product-name"><a href="#">@Model.Name</a></h3>
										<h4 class="product-price">@Model.UnitPrice</h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
										</div>
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
									</div>
								
							</div>